# =========================
# App
# =========================

APP_NAME=finance-calculator-backend
APP_ENV=development
DEBUG=false
API_V1_PREFIX=/api/v1

# =========================
# Ports
# =========================

BACKEND_PORT=8000
FRONTEND_PORT=8090

# =========================
# PostgreSQL
# =========================

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=finance_calculator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# =========================
# Auth
# =========================

SECRET_KEY=super-secret-key-change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60

FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=admin123

# =========================
# Frontend / CORS
# =========================

# Для локального запуска на той же машине:
VITE_API_BASE_URL=http://localhost:8000/api/v1

# Если открываешь frontend с другого ПК, замени localhost на IP сервера:
# VITE_API_BASE_URL=http://192.168.1.50:8000/api/v1

BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8090,http://127.0.0.1:8090

# Если открываешь frontend с другого ПК, добавь origin с IP сервера:
# BACKEND_CORS_ORIGINS=http://192.168.1.50:8090,http://localhost:5173,http://127.0.0.1:5173